*{
	padding: 0;
	margin: 0;
}
#wrapper {
	margin: 0px auto;
	width: 800px;
	/*float: left;*/
}
header {
	width: 900px;
	/*background-color: gray;
	*/
}
body {
	font-size: 18px;
	font-family: 'Poiret One', serif;
}
header img {
	margin: 0;
	padding:0;
	text-align: right;
	height: 280px;
}

#logo {
	margin: -70px;
	padding-top: 40px;
	padding-left: 300px;
	padding-bottom: -60px;
}

.leftnav {
	font-size: 1.4em;
	float:left;
	margin-right: 55px;
	padding-left: 30px;
}
.rightnav {
	font-size: 1.4em;
	float: right;
	margin-right: 85px;
	padding-right: 20px;
}
p:hover, a:hover {
	color: #E5E9E4;
}
nav a {
	text-decoration: none;
	color: black;
	display: inline block;
	padding-left: 20px;
	padding-right: 20px;
}
#line {
	border-bottom: 1px solid black;
	height: 30px;
}
section {
	margin-top: 0px;
	padding:0px;
	clear: both;
	width: 100%;
}
#topimg img{
	margin-left: 20px;
	padding-top: 10px;
	width: 760px;
	height: 350px;
}
#gallery1 {
	margin-top: 10px;
	margin-left: 15px;
}
#gallery2 {
	margin-left: 15px;
}
#gallery3 {
	margin-left: 15px;
}
.grid {
	float: left;
	border: 2px solid white;
	position: relative;
/* width: 33.3%;*/
}

.grid img {
	width: 250px;
	height: 230px;
	margin-bottom: 0px;
	margin-left: 3px;
}
#image img {
	height: 300px;
}
h2{
	padding-top: 5px;
}
.textwrap {
	float:right;
	margin-right: -40px;
	padding-bottom: 10px;
}
#content {
	float: left;
	width: 510px;
	padding: 10px 0;
	margin: 0 0 0 20px;
	text-align: justify;
}
aside {
	float: right;
	font-size: 14px;
	width: 200px;
	padding: 10px 0;
	margin: 0 10px 0 0;
}
#post {
	float: left;
	width: 350px;
	padding: 10px 0;
	margin: 0 0 0 20px;
	text-align: justify;
}
.blogwrap {
	float:right;
	margin-right: -40px;
	padding-bottom: 10px;
}
.blog img {
	height: 300px;
	margin-left: 30px;
	margin-top: 20px;
}
#blog {
	float: right;
	font-size: 14px;
	width: 200px;
	padding: 10px 0;
	margin: 0 10px 0 0;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content:"";
	clear: both;
	height: 0;
}
.contact {
	display: inline-block;
	text-align: right;
	padding-top: 5px;
	font-size: 1em;
}
#email {
	color: #000000;
	text-decoration: none;
}
#email a:hover {
	color: #E5E9E4;
}
#copyright {
	font-size: 13px;
}
footer {
	line-height: 18px;
	text-align: center;
	padding-bottom: 1px 0;
	clear: both;
}